body{
    color: rgb(23, 23, 84);
    background-image: url(—Pngtree—four\ beautiful\ white\ and\ brown_16284351.png);
}
header{
    background-color: white;
}
section{
    color: black;
}
.ca{
    background-image: url();
}