body{
    color: rgb(23, 23, 84);
    background-image: url(—Pngtree—four\ beautiful\ white\ and\ brown_16284351.png);
}
header{
    background-color: white;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 150;
}
section{
    color: black;
}
.ca{
    background-image: url(_.jpeg);
}